# Template de configuration des variables d'environnement (À commiter sur Git)
SPRING_MAIL_USERNAME=votre_email@gmail.com
SPRING_MAIL_PASSWORD=votre_mot_de_passe_application_gmail
SPRING_MAIL_FROM=votre_email@gmail.com

POSTGRES_USER=certif_user
POSTGRES_PASSWORD=certif_password
POSTGRES_DB=certifhub_db

HF_TOKEN=hf_your_token_here
